<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>Login</title>
    <link rel="shortcut icon" href="https://www.mundocurioso.website/assets/icons8-planeta-96.png" >
    <link rel="stylesheet" href="https://www.mundocurioso.website/styles/login.css">
</head>
<body>
    <form method="POST" action="https://www.mundocurioso.website/l" class="login_container">
        <label> Usuario</label>
        <input class="entrada" type="text" name="usuario">
        <label> Contraseña</label>
        <input class="entrada" type="password" name="contraseña">
        <input type="submit" class="submit">
    </form>
</body>
</html>