<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- metadatos -->
    <meta
      name="description"
      content="Vive, conoce, disfruta... Mundo Curiso, el lugar donde la curiosidad sobrepasa"
    />
    <meta
      name="keywords"
      content="Mundo Curioso, Viajes, Lugares hermosos, Planeta, Aventura, Conocer nuevos sitios, Emprender, sobre nosotros"
    />
    <meta name="author" content="Isaac R. Caseres" />
    <meta name="robots" content="index, follow" />
    <!-- Etiqueta OG (Open Graph) para redes sociales -->
    <meta property="og:title" content="Mundo Curioso - Sobre Nosotros" />
    <meta
      property="og:description"
      content="Vive, conoce, disfruta... Mundo Curiso, el lugar donde la curiosidad sobrepasa"
    />
    <meta
      property="og:image"
      content="https://www.mundocurioso.website/assets/300575567_460045519472426_2347174097804661257_n.jpg"
    />
    <meta property="og:url" content="" />
    <!-- Etiqueta Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Mundo Curioso" />
    <meta
      name="twitter:description"
      content="Vive, conoce, disfruta... Mundo Curioso, el lugar donde la curiosidad sobrepasa"
    />
    <meta
      name="twitter:image"
      content="https://www.mundocurioso.website/assets/300575567_460045519472426_2347174097804661257_n.jpg"
    />

    <link rel="canonical" href="https://www.mundocurioso.website/" />
    <link rel="shortcut icon" href="https://www.mundocurioso.website/assets/icons8-planeta-96.png" />
    <link rel="stylesheet" href="https://www.mundocurioso.website/styles/main.css" />
    <link rel="stylesheet" href="https://www.mundocurioso.website/styles/detail.css" />
    <title>Sobre Nosotros - Mundo Curioso</title>
    <style>
      .main_section2_title{
        margin-bottom: 20px;
      }
      .main{
        min-height: 80vh;
      }
    </style>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav_list">
        <div class="nav_list_li1">
            <li><a href="https://www.mundocurioso.website/sobrenosotros">Sobre nosotros</a></li>
            <li><a href="https://www.mundocurioso.website/contactos">Contacto</a></li>
          </div>
        <li class="nav_list_li2">
          <a href="https://www.facebook.com/mundocurioso09" target="_blank"
            >Facebook</a
          >
        </li>
      </ul>
    </nav>
    <div class="header">
      <header class="containerTitle">
        <a href="/"><h1 class="containerTitle_title">Mundo Curioso</h1></a>
        <img
          src="https://www.mundocurioso.website/assets/Menu_icon_2_icon-icons.com_71856.svg"
          alt="menu"
          class="menu"
          onclick="abrirMenu()"
        />
        <nav class="containerTitle_nav">
          <ul class="containerTitle_nav_ul">
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Galería">Galería</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Maravillas">Maravillas</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Culturas">Culturas</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Historias">Historias</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/aturaleza">Naturaleza</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Ciencia">Ciencia</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Arte">Arte</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Gastronomia">Gastronomia</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Viajes">Viajes</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <main class="main">
      <section class="main_section2">
        <h2 class="main_section2_title">Sobre nosotros</h2>

        <article class="main_section2_article">
            <p>Bienvenidos a Mundo Curioso, tu destino en línea para descubrir las maravillas de nuestro fascinante planeta. En nuestro apasionante viaje por el mundo, exploramos los rincones más asombrosos, compartimos historias intrigantes y te inspiramos a vivir tu propia aventura.</p>
            
            <p>En Mundo Curioso, creemos que la curiosidad es la llave que abre las puertas a experiencias inolvidables. Ya sea que estés buscando inspiración para tu próximo viaje, quieras aprender sobre culturas lejanas o simplemente desees saciar tu sed de conocimiento, estás en el lugar correcto.</p>

            <p>Nuestro equipo está formado por amantes de los viajes, exploradores apasionados y narradores entusiastas. Nos dedicamos a desentrañar los misterios del mundo y a compartirlos contigo de una manera accesible y emocionante.</p>

            <p>En nuestra plataforma, encontrarás una amplia gama de contenido, desde artículos informativos y guías de viaje hasta curiosidades sorprendentes y consejos útiles. Nos esforzamos por brindarte información precisa y confiable para que puedas planificar tus aventuras con confianza.</p>

            <p>¡Acompáñanos en este emocionante viaje alrededor del globo! Explora con nosotros, aprende algo nuevo cada día y déjate inspirar por las maravillas que nuestro mundo tiene para ofrecer.</p>

            <p>¡Gracias por ser parte de la comunidad de Mundo Curioso!</p>
        </article>
      </section>
    </main>
    <footer class="main_footer">
      <h3 class="main_footer_h3">Mundo Curioso</h3>
    </footer>
    <nav class="containerTitle_nav_android">
      <ul class="containerTitle_nav_ul containerTitle_nav_android">
        <li class="containerTitle_nav_ul_li">
          <a href="https://www.mundocurioso.website/categoria/Galería">Galería</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="https://www.mundocurioso.website/categoria/Maravillas">Maravillas</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="https://www.mundocurioso.website/categoria/Culturas">Culturas</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="https://www.mundocurioso.website/categoria/Historias">Historias</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="https://www.mundocurioso.website/categoria/aturaleza">Naturaleza</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="https://www.mundocurioso.website/categoria/Ciencia">Ciencia</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="https://www.mundocurioso.website/categoria/Arte">Arte</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="https://www.mundocurioso.website/categoria/Gastronomia">Gastronomia</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="https://www.mundocurioso.website/categoria/Viajes">Viajes</a>
        </li>
      </ul>
      <img src="https://www.mundocurioso.website/assets/letterx_83737.svg" alt="X" class="x" onclick="cerrarMenu()"/>
    </nav>
    <script>
      function abrirMenu() {
        document
          .querySelector(".containerTitle_nav_android")
          .classList.add("active");
        document.querySelector(".x").classList.add("xactive");
      }
      function cerrarMenu(){
        document
          .querySelector(".containerTitle_nav_android")
          .classList.remove("active");
        document.querySelector(".x").classList.remove("xactive");
      }
    </script>
  </body>
</html>
